{% extends "base.html" %}
{% block content %}
    <h1>Қош келдің {{name}}!</h1>
    <p>Бұл жобада мен төмендегі нәрселерді үйрендім:</p>
<ul>
    <li>Trelloмен жұмысымды жоспарлауды</li>
    <li>FastAPIмен жұмыс істеуді</li>
    <li>GoogleColabпен таныстым</li>
    <li>PIP пакеттерін қондыруды</li>
    <li>OOP мен тәжірибе жасадым</li>
    <li>Public API орнатуды</li>
    <li>HTML қосуды</li>
    <li>Herokuға сайтты жүктеуді</li>
</ul>

<p>Жобаның авторы: Жангалиев Болатбек, құрылыс саласында қызмет ететін компанияда өндірістік техникалық бөлімнің инженер маманы
    жасым 31-де, Атырау қаласынан</p>
<p>Курс авторы: қазағым білсің деп жүрген, жастардың жанашыры Рауан Құрмет <a href="https://www.instagram.com/_rawanski/">Инстаграм парақшасы</a></p>
{% endblock %}